body {
  padding-top: 56px;
}

.showcase-section {
  background-image: url("./assets/showcase-img.jpg");
  background-size: cover;
  height: 60rem;
}

.card-wrap {
  width: 50%;
}

.products-padding {
  /* background-color: inherit; */
  height: 50px;
}

.badge-container-lg {
  margin: 0px;
  padding: 0px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: 13px;
  border-radius: 50%;
  font-size: 9px;
  transform: translate(-10px, -7px);
}

.badge-container-sm {
  margin: 0px;
  padding: 0px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: 13px;
  border-radius: 50%;
  font-size: 9px;
  margin-right: 0px;
  transform: translate(22px, -32px);
}

.badge-number {
  margin: 0px;
  padding: 0px;
  color: white;
}

.cart-nav-item {
  /* background-color: blue; */
  display: flex;
  align-items: center;
}

.navbar-toggler {
  height: 40px;
}

.showcase-section {
  transform: translateY(-56px);
}

.cart-item-row {
  height: 9rem;
}

.cart-product-col {
  height: 100%;
}

.quantityBar {
  width: 10rem;
  height: 3rem;
}

.quantity-minus {
  width: 30%;
  height: 100%;
}

.quantity-value {
  width: 40%;
  height: 100%;
}

.quantity-plus {
  width: 30%;
  height: 100%;
}

.cartItem-img-wrap {
  width: 50%;
}

.qty-btn {
  cursor: pointer;
}

.xcircle {
  transform: translate(70px, -50px);
  cursor: pointer;
}

.payment-form {
  /* background-color: rgb(228, 228, 228); */
  border-radius: 0.4rem;
  width: 20rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
@media only screen and (max-width: 575px) {
  .badge-container-lg {
    transform: translate(-2px, -8px);
  }

  .cart-guitar-row {
    height: 100%;
  }

  .cart-guitar-col {
    /* max-height: 12rem; */
    min-height: 8rem;
  }

  .cart-content-col {
    max-height: 8rem;
  }

  .showcase-section {
    height: 23.5rem;
  }

  .products-padding {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 850px) {
  .card-wrap {
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .cartItem-img-wrap {
    width: 100%;
  }

  .quantityBar {
    width: 8rem;
    height: 2.5rem;
    margin-top: 0.5rem;
  }

  .xcircle {
    transform: translate(0px, 0px);
  }
}
